html {
    font-family: Arial, Verdana, sans-serif;
    list-style: none;
    background-color: aliceblue;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
}

/** NAVIGATION **/

.navigation {
    height: 100vh;
    max-width: 400px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #FFFFFF;
}

.navigation a {
    text-decoration: none;
    color: #000000;
}

.navigation .project-name {
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    letter-spacing: 4px;
    font-size: larger;
    border-bottom-style: solid;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation .bounded-contexts {
    padding: 0 0.5rem;
}
.navigation .bounded-context__concepts {
    padding: 0.5rem 1rem;
}
.navigation .concepts {
    padding: 0.2rem 1.5rem;
}
.navigation .bounded-context {
    padding: 0.5rem 0;
}
.navigation .bounded-context > a {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.navigation .concept-type {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem 0;
}
.navigation .concepts__item {
    font-size: 1rem;
    padding: 0.3rem 0;
}

/** MAIN CONTENT **/
main {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0 1rem;
}

.concept {
    width: 100%;
}
.concept__name {
    font-size: 1.3rem;
}
.concept__class-name {
    font-size: 0.9rem;
}
.concept__description {
    font-style: italic;
}

/** INTERACTIONS **/
.interactions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}
.interactions-box {
    display: flex;
    flex-flow: column wrap;
}
.interaction {
    padding: 0.5rem;
    margin: 0.2rem;
    background: #75BFFF;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}
.interaction__title {
    font-weight: bold;
    font-size: 1.1rem;
}
